:root{
    --color-background: rgb(0, 0, 0);
    --color-text: #ffffff;
    --color-accent: burlywood;
    --color-header-footer: aliceblue;  
    --color-secondary: #222;
}
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text);
}
.container{
    width: 100%;
    margin: 0 auto;
    flex: 1;
}
/* For nav bar */
header{
    background-color: var(--color-header-footer);
    height: 10vh;
    position: sticky;
    z-index: 10;
    top: 0;
    
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Normal size */
    }
}
header h2{
    animation: slideInLeft 1.5s ease-out forwards;
    opacity: 0;
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    margin: 10px;
    color: var(--color-background);
}
nav{
    text-align: center;
}

nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin: 50px;
    color: var(--color-background);
    padding: 10px;
    border-radius: 10px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s, padding 0.5s ease-in-out;
    
}
nav ul li a:hover{
    color: var(--color-accent);
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
    
}
/* For home page */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    
}
.welcome-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.intro{
    display: flex;
    align-items: center;
    
}
#home_img{
    border-radius: 20px;
    filter: grayscale(100%);
   
}
#intro_text{
    margin: 120px;
    
}
/* For about page */
.introduction, .background, .skills, .passion_motivation, .call_to_action{
    background-color: var(--color-secondary);
    border-radius: 10px;
}
.introduction h2,
.background h2,
.skills h2,
.passion_motivation h2,
.call_to_action h2 {
    color: var(--color-text);
}

.container_about section, p, hr{
    margin: 20px;
}

/*For contact page */

.hero_contact {
    background-color: var(--color-secondary);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_contact h2 {
    color: var(--color-text);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form, fieldset {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

label[for="firstname"], label[for="lastname"], 
label[for="email"], label[for="phone"],
label[for="birthdate"], label[for="time"],
label[for="age"], label[for="website"],
label[for="gender"], label[for="male"],
label[for="female"], label[for="others"],
label[for="dropdown"], label[for="feedback"]{
    margin: 10px 0 5px;
}
label[for="checkbox"] {
    margin: 10px 0 ;
}
input[type="text"], input[type="email"], 
input[type="tel"], input[type="date"],
input[type="time"], input[type="number"],
input[type="url"], textarea, 
select, input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    
}

textarea, select {
    resize: none;
    /* color: #000; */
}
textarea{
    height: 100px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: -30px;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: var(--color-accent);
    /* color: #000; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-background);
    color: var(--color-accent);
}



/* For aside */
aside{
    background-color: var(--color-secondary);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
   
}
aside ul {
    list-style: none;
}
aside ul li{
    margin-bottom: 10px;
}
/* For Footer */
footer{
    text-align: center;
    background-color: var(--color-header-footer);
    color: var(--color-background);
}

/*For responsive */
/*For mobile devices */
@media (max-width: 600px){
  body{
    background-color: aqua;
  }
}
/*For tablets */
@media (min-width: 601px) and (max-width: 768px){
    body{
        background-color: blue;
    }
}
/*For desktops */
@media (min-width: 769px) {
    body{
        background-color: burlywood;
    }
}