*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li{
    display: inline;
    margin: 20px;

}
nav ul li a{
    text-decoration: none;
    margin: 20px;
    
}