*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: aliceblue;
    height: 10vh;
    
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    margin: 10px;
    color: black;
}
nav{
    text-align: center;
}
/* nav ul{
    
} */
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin: 50px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s, padding 0.5s ease-in-out;
    
}
nav ul li a:hover{
    color: burlywood;
    background-color: black;
    border-radius: 40px;
    padding: 10px;
    
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    
}
.welcome-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.intro{
    display: flex;
    align-items: center;
    
}
#home_img{
    border-radius: 20px;
    filter: grayscale(100%);
   
}
#intro_text{
    margin: 120px;
    
}
.home_skills{
    background-color: aqua;
    float: left;
    
}
.home_projects{
    background-color: black;
    color: white;
}
.projects li{
    list-style: none;
}
.testimonials{
    background-color: blue;
    float: right;
}
.home_contact{
    background-color: darkgray;
    float: left;
}
aside{
    text-align: center;
    background-color: darkorchid;
}
footer{
    text-align: center;
    background-color: aqua;
}